/*-- scss:rules --*/
.navbar-brand {
  font-family: "Open Sans", sans-serif;
}

.navbar-nav a {
  color: $brand-white;
  text-transform: uppercase;
}

.navbar-nav .nav-link.active {
  color: $brand-dark-grey;
  background-color:  $brand-yellow;
  border-radius: 10px;
}

.card h5{
  font-size: 1.1em;
  font-family: "Open Sans";
}

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;